.u-make-centre {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }

.u-make-centre-y {
  top: 50%;
  transform: translateY(-50%);
  position: absolute; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 31.5%;
  /*16px, 1rem = 5px*/ }

body {
  display: contents;
  font-family: 'Lato', sans-serif;
  position: relative;
  display: block; }

.logo-main {
  font-size: 5rem; }

.header {
  background-color: #005e80;
  width: 100%;
  height: 10rem;
  padding-top: 1.5rem; }
  .header__top {
    color: #fff;
    font-size: 4rem;
    width: 100%;
    height: 100%;
    position: relative;
    display: inline-flex;
    text-align: center; }
    .header__top--bars {
      left: 2.5rem; }
    .header__top--logo {
      left: 0; }
    .header__top--name {
      left: 10rem;
      top: 3.5rem; }
    .header__top--search {
      right: 10rem; }
    .header__top--user {
      right: 2.5rem; }

.navigation {
  width: 100%;
  height: 0;
  background-color: #eee;
  color: black;
  position: absolute;
  font-weight: 400;
  top: 0;
  left: 0;
  transition: .3s all ease-out;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  overflow-x: hidden;
  z-index: 10; }
  .navigation__page {
    font-size: 3rem; }
    .navigation__page--nav {
      position: absolute;
      left: 0;
      top: 10rem;
      text-align: left;
      width: 100%;
      height: 90vh; }
    .navigation__page--btn {
      position: absolute;
      width: 100%;
      height: 10rem;
      color: #fff !important;
      background-color: #005e80; }
      .navigation__page--btn-close-btn {
        position: absolute;
        left: 3rem;
        top: 2.5rem; }
    .navigation__page--list {
      text-transform: uppercase;
      list-style: none;
      transition: .5s all;
      animation: nav-ani .5s ease-out; }

@keyframes nav-ani {
  0% {
    opacity: 0;
    transform: translateY(-5rem); }
  25% {
    opacity: .25; }
  50% {
    opacity: .5; }
  75% {
    opacity: .75; }
  99% {
    opacity: 1;
    transform: translateY(0); } }
    .navigation__page--item {
      height: 10rem;
      border-bottom: 1px solid #fff;
      position: relative;
      margin-top: 1rem;
      width: 100%;
      position: relative;
      transition: 0.3s all; }
      .navigation__page--item-inner {
        background-color: #fff;
        position: absolute;
        width: 100%;
        top: 10rem;
        height: 0;
        overflow: hidden;
        transition: .3s all; }
        .navigation__page--item-inner .inner-list {
          height: 100%;
          list-style: none;
          text-transform: capitalize;
          font-weight: 500;
          color: #000;
          margin: 1rem 2rem 2rem 3rem; }
          .navigation__page--item-inner .inner-list__item {
            padding: 1rem; }
      .navigation__page--item-1-add {
        position: absolute;
        top: 2rem;
        right: 2rem; }
      .navigation__page--item-2-add {
        position: absolute;
        top: 2rem;
        right: 2rem; }
      .navigation__page--item-3-add {
        position: absolute;
        top: 2rem;
        right: 2rem; }
      .navigation__page--item-4-add {
        position: absolute;
        top: 2rem;
        right: 2rem; }
      .navigation__page--item-5-add {
        position: absolute;
        top: 2rem;
        right: 2rem; }
    .navigation__page--link {
      position: absolute;
      color: black;
      top: 2rem;
      left: 3rem;
      text-decoration: none; }
